/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1120px;
}

.top-inner {
	width: 725px;
	margin: 10px auto 0;
}

.middle-section {
	background-image: none!important;
	background-size: cover!important;
	ul.main-cast {
		li {
			margin: 0 auto 46px;
			p {
				
			}
		}
	}

	.d-1of2.left {
		padding-right: 30px;

		ul {
			margin-bottom: 140px;
		}
	}

	.d-1of2.right {
		padding-left: 30px;
	}


}

.cast-section {
	.cast-list {
		li {
			width: 10.5%;
    		margin: 0 2.25% 0 0;
		
			&:nth-of-type(8n) {
				margin-right: 0;
			}


		}
	}
}



.bottom-section {
	background-size: 100% auto;
	min-height: 820px;
}

html.pum-open.pum-open-overlay.pum-open-scrollable body>[aria-hidden] {
    // padding-right: 18px!important;
}

html.pum-open.pum-open-overlay.pum-open-scrollable .pum-overlay.pum-active {
	overflow: hidden;
}

html.pum-open.pum-open-overlay, html.pum-open.pum-open-overlay.pum-open-fixed .pum-overlay {
    overflow-y: scroll;
}



body .wpcf7 {
	width: 490px;
	margin: 0 auto;	
}