/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1120px;
}

.top-inner {
	width: 705px;
	margin: 10px auto 0;
}

.middle-section {
	ul {
		li {
			p {
				font-size: 20px;
			}
		}
	}
}

.bottom-section {
	background-size: 100% auto;
}

html.pum-open.pum-open-overlay.pum-open-scrollable body>[aria-hidden] {
    padding-right: 18px!important;
}



body .wpcf7 {
	width: 490px;
	margin: 0 auto;	
}