/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $courier;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: #1c1209;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: inherit;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: inherit;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

a, a:focus, a:visited, a:hover,
button, button:focus, button:visited, button:hover {
	outline: 0!important;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	font-family: $ildewild;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 30px;
	line-height: 1.4em;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $black;

	nav {
		display: none;
	}

	.menu-btn {
		display: block;
		float: right;
		margin: 0 0 0 20px;
		cursor: pointer;

		&:before {
			content: "\f0c9";
			width: 30px;
			height: 30px;
			display: block;
			font-family: FontAwesome;
			font-size: 30px;
			color: #666;
		}
	}
}

	#logo {
		margin: 0.75em 0;

		a {
			color: $white;
		}
	}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#content {

}

		.hentry {

			header {
			
			}

			footer {
			

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

.top-section {
	position: relative;
	overflow: hidden;

	background: url(../images/top_bg.jpg) no-repeat top center;
	background-size: 100% auto;
	padding-bottom: 43px;

	text-align: center;

	h3 {
		font-size: 13px;
		color: #fff;
	}

	a {
		line-height: 0;
		-webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.56);
		-moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.56);
		box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.56);
	}

	video {
		position: absolute;
		z-index: 0;
		top:0;
		left:50%;
		margin-left:-960px;
		min-width:100%;
		min-height: 100%;
	}

	video::-webkit-media-controls {
	  display: none;
	}

	.overlay1 {
		position: absolute;
		z-index: 2;
		top:0;
		left:0;
		width:100%;
		height: 100%;

		background: url(../images/dot.png) repeat top left;

	}

	.overlay2 {
		position: absolute;
		z-index: 1;
		top:0;
		left:0;
		width:100%;
		height: 100%;

		background: url(../images/video_overlay.png) no-repeat center;
		background-size: cover;
	}

	.wrap {
		position: relative;
		z-index: 3;

		.logos {
			margin-top: 35px;
			> div {
				text-align: center;
				img.mainlogo {
					margin-top: 20px;
					margin-bottom: 55px;
				}


			}
		}

		.top-inner {
			text-align: center;
			p {
				color: #fff;
				font-size: 14px;
				font-weight: 600;
				line-height: 1.3;
			}

			h3 {
				margin-top: 28px;
				margin-bottom: 27px;
			}
		}
	}
}

.middle-section {
	padding-bottom: 100px;
	background-image: url(../images/bg_img1_700x1500.jpg)!important;
	background-color: #1a100a!important;
	background-size: auto!important;
	background-repeat: no-repeat;
	backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

	h2 {
		color: #1a100a;
		margin: 55px 0 43px;
		font-size: 18px;
	}

	.d-banner {
		display: none;
	}

	.m-banner {
		display: block;
		img {
			width: 100%;
		}
	}
	ul.main-cast {
		li {
			
			margin: 20px auto;
			text-align: center;
			position: relative;

			img {
				// -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.18);
				// -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.18);
				// box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.18);
				width: 100%;
				margin: 0;
			}

			a {
				display: block;
				line-height: 0;
			}

			p {
				// background: rgba(0,0,0,0.6);
				width: 100%;
				position: absolute;
				bottom: 0px;
				left: 0;
				margin:0;
				color: #fff;
				text-align: left;
				font-size: 13px;
				line-height: 18px;
				padding: 15px 10px;
				text-align: center;
				font-family: $ildewild;
				color: #d1a991;
				z-index: 3;


				&:before {
					content: "";
					background: url(../images/plussign.png) no-repeat center; 
					display: block;
					width: 26px;
					height: 26px;
					position: absolute;
					top: 46%;
					right: 15px;
				}
		


				span {
					display: block;
					font-size: 9px;	
				}

				span:nth-of-type(2) {
					color: #fff;
				}
			}

		}
	}
}

.cast-section {
	// background: url(../images/bg_img1.jpg) no-repeat center, #000;
	
	// background-position: top center;
	// background-size: 200%;
	padding-bottom: 50px;

	background: transparent;

	.cast-list {
		li {
			width: 44%;
    		margin: 0 3%;
			float: left;
			min-height: 240px;
			text-align: center;

			img {
				margin-bottom: 3px;
			}

			p {
			
				color: #c4b29f;
				font-family: $ildewild;
				font-size: 8px;

				span {
					color: #fff;
					display: block;
					margin-top: 5px;
				}
			}
		}
	}
}

.bottom-section {
	// background: url(../images/bg_img2.jpg) no-repeat center, #131313;
	//background-attachment: fixed;
	// background-position: top center;
	// padding-bottom: 65px;
	// background-size: auto;
	background: transparent;
	backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

	.accordion {
		margin-bottom: 40px;
	}

	h2 {
		margin: 120px 0 60px;
		font-size: 18px;
	}

	h4 {
		color: #fff;
		font-weight: 700;
		font-size: 11px;
		text-transform: uppercase;
		margin:0 0 4px 0;
		cursor: pointer;
	}

	span {
		display: block;
		background: #828282;
		color: #000;
		cursor: pointer;
		font-family: $ildewild;
		font-size: 9px;
		padding: 5px;
	}

	p {
		color: #fff;
		display: none;
		margin-bottom: 0;
		margin-top: 5px;
		padding: 7px 5px 10px;
		background-color: #1d1f1a;
		font-size: 14px;
	}
}

div.footer {
	padding-bottom: 100px;

	a {
		color: $light-gray;
		text-decoration: none;
	}

	img {
		margin-top: 40px;
	}
}


body .pum-theme-7 .pum-container, .pum-theme-lightbox .pum-container {
	padding: 50px 30px 70px 30px;
	border-radius: 0;
	border: 0;
	color: #333;
	p {
		font-size: 14px;
	}
}

body .theme-10 {
	padding: 50px 10px 70px 10px;
	background: none!important;
	border: 0!important;
	border-radius: 0!important;
	max-width: 910px;

	iframe {
		max-width: 100%;
	}
}

body .pum-theme-7 .pum-title, .pum-theme-lightbox .pum-title {
	font-size: 15px;
	line-height: 40px;
	font-weight: 900;
	text-transform: uppercase;
	font-family: $ildewild;
	color: #d1a991;
}

body .theme-10 .pum-content + .pum-close {
	color: #fff;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	font-weight: 900;
	font-size: 52px;
	top: 18px;
    right: -15px;

}

body .pum-theme-7 .pum-content + .pum-close, .pum-theme-lightbox .pum-content + .pum-close {
	color: #000;
	background-color: white;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	font-weight: 900;
	font-size: 52px;
	top: 4px;
	right: 4px;

}

html.pum-open.pum-open-overlay.pum-open-scrollable body>[aria-hidden] {
    padding-right: 0px!important;
}



div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors {
    border: 0;
    color: #fff;
    font-size: 15px;
    padding-left: 0;
    margin-left: 0;
}

span.wpcf7-not-valid-tip {
	display: none;
}

.ajax-loader {
	position: absolute;
}


// body .parallax-window {
// 	background-attachment:fixed;
//     background-image:url(../images/bg_img1.jpg);
//     background-color : #000;
//     background-size: cover;
//     background-position:center;
    
// }

// body .parallax-window.pr2 {
// 	background-image:url(../images/bg_img2.jpg);
// }


/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  
  position: relative;
  background: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(209,169,145,0.4);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}





*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
}



body .wpcf7 {
	form {
		padding: 30px 30px 19px;
		background: rgba(0,0,0,0.6);
		
	}

	p {
		margin-bottom: 11px;
	}

	input {
		width: 100%;
		border-radius: 0;
		color: #3a3e36;
		font-style: italic;
		font-size: 16px;
		max-width: none;
		background-color: #d9d9d9;
		height: 45px;
		line-height: 45px;

		-webkit-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.75);
		box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.75);

		&::-webkit-input-placeholder {
		   color: #3a3e36;
		}

		&:-moz-placeholder { /* Firefox 18- */
		   color: #3a3e36; 
		}

		&::-moz-placeholder {  /* Firefox 19+ */
		   color: #3a3e36; 
		}

		&:-ms-input-placeholder {  
		   color: #3a3e36;  
		}


	}

	input[type="submit"] {
		background: rgb(115,121,111); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(115,121,111,1) 0%, rgba(96,102,92,1) 2%, rgba(83,89,79,1) 5%, rgba(80,85,78,1) 20%, rgba(61,64,57,1) 84%, rgba(59,62,55,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(115,121,111,1) 0%,rgba(96,102,92,1) 2%,rgba(83,89,79,1) 5%,rgba(80,85,78,1) 20%,rgba(61,64,57,1) 84%,rgba(59,62,55,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(115,121,111,1) 0%,rgba(96,102,92,1) 2%,rgba(83,89,79,1) 5%,rgba(80,85,78,1) 20%,rgba(61,64,57,1) 84%,rgba(59,62,55,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73796f', endColorstr='#3b3e37',GradientType=0 ); /* IE6-9 */
		color: #fff;
		font-size: 12px;
		font-weight: 700;
		text-align: center;
		font-style: normal;
		text-transform: uppercase;
		border: 0;

		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;


	
	}

	


}



::-webkit-input-placeholder {
   color: #3a3e36;
}

:-moz-placeholder { /* Firefox 18- */
   color: #3a3e36; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #3a3e36; 
}

:-ms-input-placeholder {  
   color: #3a3e36;  
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .corise_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	color: $light-gray;
	p {
		font-family: $ildewild;
		font-size: 9px;
	}

}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}